* {
  margin: 0;
  padding: 0; }

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.left {
  width: 100%;
  height: 100%; }

.right {
  width: 700px;
  height: 100vh;
  border-left: 1px solid lightGray; }

#palette {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row; }

.paletteColors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .paletteColors div {
    width: 100%;
    height: 100%; }
  .paletteColors input {
    margin: 0 auto;
    text-align: center; }

.paletteColor1 {
  background-color: yellow; }

.paletteColor2 {
  background-color: green; }

.paletteColor3 {
  background-color: blue; }

.paletteColor4 {
  background-color: pink; }

.paletteColor5 {
  background-color: red; }

#title {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#results input {
  width: 300px; }
