@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

* {
margin: 0;
padding: 0;
font-size: 12px;
}

#C1 {
  background-color: #726258;
}
#C2 {
  background-color: #a57c55;
}
#C3 {
  background-color: #c7b29b;
}
#C4 {
  background-color: #534741;
}
#C5 {
  background-color: #252525;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 100%;
  height: 100%;
}

.right {
  width: 700px;
  height: 100vh;
  border-left: 1px solid lightGray;
}

#palette {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.paletteColors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  div {
    width: 100%;
    height: 100%;
  }
  .tooltip {
    font-family: system-ui;
    z-index: 1;
    width: 60px;
    height: 14px;
    background-color: #525252;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
    padding: 3px 8px;
    border-radius: 8px;
    visibility: hidden;
  }
  span {
    margin-top: 10px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 16px;
    color: #c8c8c8;
  }
  input {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 100px;
  }
}

#title {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lora', serif;
  color: #525252;
  h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4em;
  }
  span {
    font-weight: 400;
    font-size: 20px;
  }
}

#results {
  margin-top: 50px;
  div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    span {
      margin: 7px 0 7px 0;
      font-family: 'Lora', serif;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 3px;
      color: #c8c8c8;
    }
    input {
      margin: 0 auto;
      width: 70%;
    }
    .btn {
      border: none;
      background: none;
      margin: 0 auto;
      margin-top: 7px;
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      color: #ffffff;
      background: #c8c8c8;
      padding: 3px 8px 3px 8px;
      text-decoration: none;
    }

    .btn:hover {
      background: #525252;
      text-decoration: none;
    }

  }

}

.color1 {
  background-color: #726258;
}
.color2 {
  background-color: #a57c55;
}
.color3 {
  background-color: #c7b29b;
}
.color4 {
  background-color: #534741;
}
.color5 {
  background-color: #252525;
}

#preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 170px;
  .uiContainer {
    width: 296px;
    height: 392px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .menu {
    height: 32px;
  }
  .title {
    height: 140px;
  }
  .text {
    height: 80px;
  }
  .slider {
    height: 140px;
  }
  .colorText {
    background-color: grey;
  }
  .line {
    height: 14px;
    margin: 0 0 12px 31px;
    &:first-child {
      margin-top: 36px;
    }
  }
  .line1 {
    width: 142px;
  }
  .line2 {
    width: 183px;
  }
  .line3 {
    width: 86px;
  }
  .textline {
    height: 8px;
    margin: 0 31px 6px 31px;
    &:first-child {
      margin-top: 20px;
    }
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    .sliderElem {
      width: 73px;
      height: 90px;
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
