* {
margin: 0;
padding: 0;
}

#C1 {
  background-color: #726258;
}
#C2 {
  background-color: #a57c55;
}
#C3 {
  background-color: #c7b29b;
}
#C4 {
  background-color: #534741;
}
#C5 {
  background-color: #252525;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 100%;
  height: 100%;
}

.right {
  width: 700px;
  height: 100vh;
  border-left: 1px solid lightGray;
}

#palette {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.paletteColors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  div {
    width: 100%;
    height: 100%;
  }
  span {

  }
  input {
    margin: 0 auto;
    text-align: center;
  }
}

#title {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#results {
  input {
    width: 100%;
  }
}

.color1 {
  background-color: #726258;
}
.color2 {
  background-color: #a57c55;
}
.color3 {
  background-color: #c7b29b;
}
.color4 {
  background-color: #534741;
}
.color5 {
  background-color: #252525;
}

#preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .uiContainer {
    width: 296px;
    height: 392px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .menu {
    height: 32px;
  }
  .title {
    height: 140px;
  }
  .text {
    height: 80px;
  }
  .slider {
    height: 140px;
  }
  .colorText {
    background-color: grey;
  }
  .line {
    height: 14px;
    margin: 0 0 12px 31px;
    &:first-child {
      margin-top: 36px;
    }
  }
  .line1 {
    width: 142px;
  }
  .line2 {
    width: 183px;
  }
  .line3 {
    width: 86px;
  }
  .textline {
    height: 8px;
    margin: 0 31px 6px 31px;
    &:first-child {
      margin-top: 20px;
    }
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    .sliderElem {
      width: 73px;
      height: 90px;
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
